html, body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  font-size: 40px;
  font-family: 'Thasadith', sans-serif;
  overflow: hidden;
}

#button_holder{
  display:none;
}

.btn {
  position: fixed;
  width:7px;
  height:7px;
  left:83%;
  top:86%;
  margin:0px;
  padding:15px;
  border:0px;
  opacity:.2;
  /*position: relative;*/
  /*display: inline-block;*/
  /*min-width: 3rem;*/
  background: black;
  color: white;
  line-height: .1;
  border: 0;
  text-align: center;
  border-radius: 4px;
  -webkit-box-shadow: 0 50px 0 0 #FFFFFFFF;
  -moz-box-shadow: 0 3px 0 0 #FFFFFFFF;
  box-shadow: 0 5px 0 0 #FFFFFFFF;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
}

a {
 font-family: sans-serif;
 text-transform: uppercase;
 justify-content: center;
 font-size: 0.32em;
 letter-spacing: 4px;
 overflow: hidden;
 background: linear-gradient(9deg, #000, #fff, #000);
 background-repeat: no-repeat;
 background-size: 70%;
 animation: animate 2s linear infinite;
 -webkit-background-clip: text;
 -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -300%;
  }
  100% {
    background-position: 200%;
  }
}

a:hover {
  transform: translateY(-3px);
  -webkit-transform: translateY(-3px);
}

.btn:hover, .btn:focus {
  opacity:1;
  color: white;
  -webkit-box-shadow: 0 6px 0 0 #FFFFFFFF;
  -moz-box-shadow: 0 6px 0 0 #FFFFFFFF;
  box-shadow: 0 6px 0 0 #FFFFFFFF;
  transform: translateY(-3px);
  -webkit-transform: translateY(-3px);
}

.btn:active {
  background: #969997;
  -webkit-box-shadow: 0 0 0 0 #969997;
  -moz-box-shadow: 0 0 0 0 #969997;
  box-shadow: 0 0 0 0 #969997;
  transform: translateY(3px);
  -webkit-transform: translateY(3px);
}

video{
  position: absolute;
  width:20%;
  height:20%;
  top:0%;
  bottom:0%;
  left:0%;
  right:5%;
  overflow: hidden;
}

#video_holder {
  position: fixed;
  animation: fadeInAnimation ease 15s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;}
    80% {opacity:1;}
    100% {
        opacity: 1;
     }
}
