* {
  margin: 0;
  padding: 0;
}

body {
  background: black;
}

#canvas {
  display: block;
}

#canvas_holder{
  position: absolute;
  top:30%;
  color: #aaa;
  bottom: 40%;
  right:0;
  left:0;
  width: 100%;
  margin: auto;
  font-family: Helvetica;
  text-align: center;
}

a {
  position: absolute;
  height:50px;
  width:50px;
  top:50%;
  left:48%;
  text-decoration: none;
  color: red;
  }

  p{
    position: absolute;
    text-transform: uppercase;
    justify-content: right;
    font-size: 0.4em;
    letter-spacing: 55px;
    color:white;
    font-family: 'Thasadith', monospace;
    font-size:50px;
    right:20%;
    top:80%;
  }
